<div class="product" fxLayout="row" fxFlexAlign="center center" fxLayoutGap="10px"
  fxFlex.xs="100%" fxFlex="100%">
  <div class="monsFont e2e-inner-html-interpolated" fxFlex.xs="100%" fxFlex="200px">{{ product.productName }}</div>
  <div class="monsFont e2e-inner-html-interpolated" fxFlex.xs="100%" fxFlex="300px">{{ product.productDesc }}</div>
  <div class="monsFont e2e-inner-html-interpolated" fxFlex.xs="100%" fxFlex="60px">
    <img [src]="generateLink()" width="30px" height="30px">
  </div>
  <div class="monsFont" fxFlex.xs="100%" fxFlex="200px" fxFlexAlign="center center">
    <mat-icon matTooltip="Add product to cart" aria-hidden="false" aria-label="Add item to cart" (click)="onAddToCart()">add_shopping_cart</mat-icon>
    <mat-icon matTooltip="View product details" aria-hidden="false" aria-label="View product details" (click)="onViewDetails()">list_alt</mat-icon>
    <mat-icon matTooltip="Edit product details" aria-hidden="false" aria-label="Edit product details" (click)="onEditDetails()">edit</mat-icon>
    <mat-icon matTooltip="Delete product" aria-hidden="false" aria-label="Delete product" (click)="onDeleteProduct()">delete_outline</mat-icon>
  </div>
</div>
