<mat-card class="cart monsFont" fxLayout="column" fxFlexAlign="center center" fxLayoutGap="10px" fxFlex.xs="100%"
  fxFlex="400px">
  <mat-card-header>
    <mat-card-title class="matCardTitle">
      <div class="matCardTitleDiv">
        <span class="monsFont matCardTitleH2">Signup</span>
        <mat-icon aria-hidden="true" style="padding-left: 10px;">person_add_alt_1</mat-icon>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <mat-form-field hintLabel="Valid email address.">
        <input type="text" matInput placeholder="Your email"
        name="email" required ngModel #emailInp="ngModel" email>
        <mat-error *ngIf="emailInp.hasError('required')">Email must not be empty.</mat-error>
        <mat-error *ngIf="!emailInp.hasError('required')">Must be a valid email address.</mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="Should be at least 6 characters long.">
        <input type="password" matInput placeholder="Secure password" ngModel
          name="passwd"
          required minlength="6" #pwdInput="ngModel">
        <mat-hint align="end">{{ pwdInput.value?.length }} / 6</mat-hint>
        <mat-error>Must be at least 6 characters long.</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button class="resetCartButton"
        [disabled]="f.invalid"
        color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
